@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Yanone+Kaffeesatz');






/*========================
=======Typography=========
==========================*/

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #333;
    background-color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
    background: transparent;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    text-decoration: none;
    color: #fff;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #ffe401;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
}

span {
    font-weight: 300;
}

section {
    overflow: hidden;
}

.default-bg {
    background-color: #ffe401;
}

.entry-header {
    padding-top: 10px;
    padding-bottom: 58px;
}

.entry-header h2 {
    font-size: 48px;
    margin-top: 0;
}

textarea {
    resize: none;
}

.navbar-toggle {
    margin-top: 19px;
    margin-right: 20px;
    border: 1px solid #fff;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}






/*========================
========Home CSS==========
==========================*/

.navbar-brand {
    height: 72px;
}

.navbar-brand h1 {
    margin-top: -3px;
}

#navigation .navbar-fixed-top {
    opacity: 0.9;
    background-color: #0c0b0b;
}

#navigation .navbar-right li a.header-nav-pagelink {
    position: relative;
    font-family: 'Helvetica', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 25px 28px;
    text-transform: uppercase;
}

.navbar-nav > li > a.header-submit-link {
    line-height: 1.43;
    margin-top: 10px;
    padding: 12px 30px;
}

#navigation .navbar-right li a.active,
#navigation .navbar-right li a:hover,
#navigation .navbar-right li a:focus,
#navigation .navbar-right li.active a {
    color: #fff;
}

.navbar-right li.active:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 3px;
    margin-top: 41px;
    content: '';
    background-color: #fde30a;
}

.navbar-right li.active:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    content: '';
    background-color: #fca43a;
}

.navbar-right li a.border:before {
    position: absolute;
    top: 23px;
    left: 0;
    font-size: 12px;
    content: '|';
    color: #e3e3e3;
}

#main-carousel .item {
    min-height: 500px;
    max-height: 900px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#main-carousel h2 {
    font-size: 102px;
    font-weight: 700;
    color: #ffe401;
}

#main-carousel h2 span {
    font-weight: 700;
    color: #fff;
}

.carousel-caption {
    left: 15%;
    right: 15%;
    bottom: 50%;
    font-size: 23px;
    font-weight: 100;
    margin-bottom: -160px;
    text-align: left;
}

.carousel-caption .slide-info {
    width: 74%;
}

.carousel-caption i {
    overflow: hidden;
    width: 62px;
    height: 62px;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    margin-left: 48px;
    padding: 1px 0 0 9px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: #242525;
    border-radius: 50%;
    background-color: #ffe401;
}



#main-carousel .carousel-caption:hover i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#main-carousel .carousel-indicators .active {
    background-color: #ffe401;
}








/*=========================
========Service CSS========
===========================*/

#roadmap {
    padding-bottom: 75px;
    color: #fff;
}

.roadmap-item--dark {
    background-color: #1e1e1e;
}

.roadmap-item--light {
    color: #000;
}

.service-heading {
    padding: 40px 0 20px;
}

.service-heading .col-sm-3 {
    padding-right: 0;
}

.service-heading h3 {
    font-size: 42px;
    font-weight: 200;
    text-transform: uppercase;
}

.service-heading h3 span {
    font-size: 50px;
}

.service-content {
    display: table;
    font-size: 28px;
    font-weight: 300;
    margin-top: 25px;
    margin-left: 40px;
}

.service-icon {
    display: table-cell;
    vertical-align: middle;
}

.service-icon i {
    font-size: 60px;
    margin-right: 40px !important;
    color: #ffe401;
}

.service-text {
    line-height: 22px;
}

.service-content span {
    font-weight: 400;
}

.single-service {
    margin-bottom: 40px;
}


.single-service .col-sm-9 {
    padding-left: 30px;
}

.single-service-icon {
    font-size: 72px;
    margin-top: 7px;
    padding: 7px 0;
    text-align: center;
    color: #333;
    background-color: #ffe401;
}

.single-service-text {
    font-size: 18px;
    font-weight: 300;
}

.single-service-text h2 {
    font-size: 36px;
    font-weight: 100;
    margin-top: 0;
}

.single-service-text h2 span {
    font-weight: 300;
}






/*=========================
========About Us CSS========
===========================*/

.about-bg {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 275px;
    background-color: #1e1e1e;
}

.about-details {
    overflow: hidden;
    height: 390px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.about-image {
    height: 100%;
    margin-right: -15px;
}

.about-image img {
    width: 100%;
}

.about-content {
    height: 100%;
    font-weight: 300;
    margin-left: -15px;
    padding: 17px 50px 62px;
}

.about-content h2 {
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 20px;
}

.about-content h2 span {
    font-weight: 300;
}

.our-team h2 {
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center;
}

.team-member {
    position: relative;
    overflow: hidden;
}

.team-member:hover .overlay {
    bottom: 103px;
    opacity: 1;
}

.overlay,
.team-member:hover .overlay {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.single-member {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.single-member h3 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 0;
    text-transform: capitalize;
    color: #0c0c0c;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22%;
    opacity: 0;
}

.overlay ul li {
    float: left;
    width: 33.33%;
}

.overlay ul li a {
    display: block;
    width: 100%;
    font-size: 24px;
    padding: 17px;
    text-align: center;
    color: #fff;
}

.overlay ul li a.facebook {
    background-color: #ffe401;
}

.overlay ul li a.twitter {
    background-color: #edd602;
}

.overlay ul li a.google-plus {
    background-color: #d6c102;
}

.overlay ul li a:hover {
    color: #000;
}





/*=========================
=====Testimonials CSS======
===========================*/

#testimonials {
    text-align: center;
    background-image: url('../images/testimonial/man-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top 250px;
}

#testimonials .entry-header {
    padding-top: 75px;
    padding-bottom: 15px;
}

.testimony-person {
    display: block;
    text-align: center;
}

.testimony-person img {
    display: inline-block;
}

.testimony-caption {
    font-size: 18px;
    font-weight: 300;
    padding: 58px 0 88px;
    color: #4d4d4d;
}

.testimony-caption h3 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.testimony-caption h4 {
    font-size: 24px;
    margin-top: 0;
    text-transform: capitalize;
}

.testimony-caption i {
    font-size: 60px;
    margin-bottom: 15px;
    color: #fff;
}

.testimonial {
    display: inline-block;
    width: 50%;
    text-align: center;
}

#testimonial-slider .carousel-indicators {
    bottom: 28px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 1px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 1px;
    background-color: #baa802;
}





/*=========================
=======Portfolio CSS=======
===========================*/

#portfolio {
    overflow: hidden;
}

#portfolio .entry-header {
    color: #fff;
}

#portfolio .entry-header h2 {
    color: #ffe401;
}

#portfolio-slider .item {
    overflow: hidden;
    height: 390px;
}

#portfolio-slider .col-sm-6 {
    height: 100%;
}

.portfolio-image img {
    width: 100%;
}

.recent-port-img {
    height: 100%;
    margin-right: -15px;
}

.recent-port-img img {
    width: 100%;
    height: 100%;
}

.recent-port-text {
    padding: 40px 50px;
}

.recent-port-text h2 {
    font-size: 48px;
    margin-top: -10px;
    margin-bottom: 18px;
}

.recent-port-text ul {
    margin-top: 15px;
}

.recent-port-text ul li {
    margin-top: 8px;
}

.recent-port-text ul li i {
    margin-right: 15px;
}

#portfolio-slider .carousel-indicators {
    left: 25%;
    bottom: 10px;
}

#portfolio-slider .carousel-indicators .active {
    background-color: #ffe401;
}

.portfolio-filter {
    padding: 65px 0 80px;
}

.portfolio-filter li {
    display: inline-block;
    font-weight: 100;
    padding: 0 18px;
}

.portfolio-filter li a {
    position: relative;
    font-size: 24px;
    padding: 11px;
    color: #b0b0b0;
}

.portfolio-filter li a.active:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    content: '';
    background-color: #fde30a;
}

.portfolio-filter li a.active:after {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    content: '';
    background-color: #fca43a;
}

.portfolio-filter li a:hover,
.portfolio-filter li a:active,
.portfolio-filter li a:focus,
.portfolio-filter li a.active {
    color: #ffe401;
}


.view {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -100%;
    width: 100%;
    opacity: 0;
    background-color: #000;
}

.mask a {
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: 10;
    width: 72px;
    height: 72px;
    font-size: 30px;
    margin-top: -35px;
    margin-left: -35px;
    padding: 5px;
    text-align: center;
    color: #ffe401;
    border: 10px solid #ffe401;
    border-radius: 50%;
}

.mask a:hover {
    color: #fff;
    border-color: #fff;
}

.mask a:before {
    position: absolute;
    top: -12px;
    left: 18px;
    width: 10px;
    height: 14px;
    content: '';
    background-color: #020202;
}

.view:hover .mask a {
    top: 50%;
    left: 50%;
}

.view:hover .mask {
    bottom: 0;
    opacity: 0.8;
}

.mask,
.view:hover .mask {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}





/*=========================
========Clients CSS========
===========================*/

#clients {
    overflow: hidden;
}

#clients-carousel {
    padding-bottom: 105px;
}

#clients-carousel .item {
    font-size: 0;
    text-align: center;
}

#clients-carousel .item ul li {
    display: inline-block;
    width: 25%;
}

#clients-carousel .item img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}

#clients-carousel .item img:hover {
    opacity: 1;
}

.client-left,
.client-right {
    position: absolute;
    top: -13%;
    font-size: 60px;
    color: #ababab;
}

.client-left:hover,
.client-right:hover {
    color: #ffe401;
}

.client-left {
    left: -20px;
}

.client-right {
    right: -20px;
}





/*=========================
==========Blog CSS=========
===========================*/

#blog,
#portfolio {
    padding-bottom: 85px;
    background-color: #1e1e1e;
}

.single-blog {
    overflow: hidden;
    height: 354px;
    margin-bottom: 30px;
}

.blog-image {
    position: relative;
    float: left;
    width: 40%;
}

.blog-image img {
    width: 222px;
    height: 354px;
}

.entry-content {
    float: left;
    width: 60%;
    height: 100%;
    font-weight: 300;
    padding: 36px 40px;
    color: #333;
}

.entry-content a h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -7px;
    margin-bottom: 17px;
    color: #333;
}

.entry-meta {
    margin-bottom: 20px;
}

.entry-meta span a {
    font-size: 16px;
    font-weight: 300;
    margin-right: 18px;
    color: #333;
}

.btn.btn-primary {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    margin-top: 7px;
    padding: 8px 25px;
    color: #ffe401;
    border: none;
    background-color: #1e1e1e;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #2b2b2b;
}

.entry-meta span a:hover {
    color: #fff;
}

#blog .entry-header h2 {
    font-weight: 300;
    color: #ffe401;
}

#blog .entry-header {
    padding-bottom: 58px;
    color: #fff;
}

.post-date {
    position: absolute;
    top: 15px;
    right: -18px;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 30px 0;
    text-align: center;
    color: #1e1e1e;
    background-color: #ffe401;
}

.post-date span {
    display: block;
    font-size: 18px;
    font-weight: 300;
}





/*=========================
========Footer CSS========
===========================*/

#gmap {
    height: 550px;
}

.contact-section {
    padding: 40px 0;
    background-color: #1e1e1e;
}

.contact-section h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #ffe401;
}

.form-control {
    min-height: 50px;
    font-size: 18px;
    color: #9f9f9f;
    border: 1px solid #454545;
    background-color: #fff;
}

.float-left {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 16px;
}

.float-left.subject-field {
    margin-right: 0;
}

textarea.form-control {
    float: left;
    padding: 13px 20px;
}

.form-control:focus {
    border: 1px solid #ffe401;
    box-shadow: none;
}

.btn-submit {
    font-size: 18px;
    margin-top: 20px;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #151515;
    border: medium none;
    border-radius: 4px;
    background-color: #ffe401;
}

.header-submit-link {
    display: inline-block;
}

#navigation .navbar-right li a.header-submit-link:hover,
#navigation .navbar-right li a.header-submit-link:focus,
.btn-submit:hover {
    color: #151515;
    background-color: #e9d001;
}

.contact-details ul li {
    margin-bottom: 10px;
    color: #fff;
}

.contact-details ul li span {
    display: block;
    padding-left: 30px;
}

.contact-details ul li i {
    float: left;
    margin-top: 5px;
    color: #555;
}

.bottom {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 2px;
    color: #010101;
}

.bottom a {
    font-weight: 600;
    color: #010101;
}

.bottom a:hover {
    text-decoration: underline;
}





/*Carousel Fade CSS*/

.carousel.carousel-fade .item {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.carousel.carousel-fade .active.item {
    opacity: 1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}





/*=========================
===Single Portfolio CSS====
===========================*/

#single-folio {
    color: #000;
}

.single-folio-details h2 {
    font-size: 36px;
    font-weight: 300;
    margin-top: -5px;
}

.single-folio-details h3 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.single-folio-slide .item {
    padding: 75px;
}

#single-folio .single-folio-slide {
    position: relative;
    max-height: 600px;
    margin-top: 65px;
    margin-bottom: 25px;
    color: #000;
    background-color: #fff;;
}

.portfolio-prev,
.portfolio-next {
    position: absolute;
    top: 20px;
    font-size: 25px;
    color: #000;
}

.portfolio-prev {
    left: 75px;
}

.portfolio-next {
    left: 105px;
}

.close-item {
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 18px;
    opacity: 0.6;
    color: #333;
}

.close-item:hover {
    opacity: 1;
    color: #000;
}

.project-details p {
    margin-bottom: 0;
}

.tag-list {
    overflow: hidden;
    margin-bottom: 25px;
}

.tag-list li {
    float: left;
    margin-right: 10px;
}

.tag-list li a {
    color: #000;
}

.project-details .btn.btn-primary {
    padding: 12px 25px;
}





/*=========================
===Custom content====
===========================*/

.page-custom-content {
    padding-bottom: 80px;
}

.default-list {
    list-style: inherit;
}

.account-pills li:not(active) a {
    color: #337ab7;
}

.tab-content-login {
    padding-top: 30px;
}


/*=========================
===Single Portfolio CSS====
===========================*/

#blog-details {
    margin-top: 175px;
}

.blog-item .fa-clock-o {
    font-size: 44px;
    padding: 20px 22px;
    color: #ffe401;
    background-color: #1e1e1e;
}

.date {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 20px;
    text-transform: uppercase;
}

.date span {
    display: block;
}

.blog-content .entry-header {
    padding-top: 0;
    padding-bottom: 0;
}

.blog-content .entry-meta {
    margin-bottom: 30px;
}

.entry-header img {
    width: 100%;
}

.entry-header h2 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 45px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #000;
}

.blog-content .entry-meta span a {
    font-size: 24px;
    font-weight: 300;
    color: #666;
}

.entry-meta span a:hover {
    color: #000;
}

.entry-post {
    color: #000;
}

.social-share {
    overflow: hidden;
    margin-top: 60px;
}

.social-share ul li {
    float: left;
}

.author-details h2 {
    font-weight: 300;
    margin-bottom: 35px;
}

.author-social {
    margin-top: 30px;
    margin-bottom: 30px;
}

.author-social a {
    font-size: 16px;
    margin-top: 20px;
    margin-right: 25px;
    color: #000;
}

.author-social a .fa-facebook:hover {
    color: #4360a2;
}

.author-social a .fa-twitter:hover {
    color: #27a6df;
}

.author-social a .fa-pinterest:hover {
    color: #df2b36;
}

.comments-area img,
.author-details img {
    width: 75px;
    height: 75px;
    margin-right: 25px;
    padding: 2px;
    background: #f4f3f3;
}

.parent.media-list {
    margin-bottom: 50px;
    margin-left: 100px;
}

.comments-area h2 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 25px;
}

.media-body h3,
.media-body h4 {
    font-weight: 300;
    margin-top: 0;
    color: #000;
}

.media-body h3 {
    font-size: 30px;
}

.btn-reply {
    opacity: 0.8;
    color: #333;;
}

.btn-reply:hover {
    opacity: 1;
    color: #000;
}

.replay-box {
    margin-top: 60px;
    margin-bottom: 60px;
}

.replay-box h2 {
    margin-bottom: 35px;
}

.replay-box .form-control {
    min-height: 48px;
    border-color: #a8a8a8;
}

.replay-box textarea.form-control {
    height: 174px;
}

.replay-box .form-control:focus {
    border-color: #ffe401;
}

.replay-box .btn-submit {
    margin-top: 35px;
    padding: 10px 40px;
    border: 1px solid #ffe401;
    background-color: transparent;
}

.replay-box .btn-submit:hover {
    color: #fff;
    border-color: #333;
    background-color: #333;
}





/*************************
*******Preloader CSS*********
**************************/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: table;
    width: 100%;
    height: 100%;
    background: #1e1e1e;
}

#loaderImage {
    display: table-cell;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}


#canvas {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
}
